* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease;
}

#menu-icon {
  font-size: 30px;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

.logo {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.logo:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

span {
  background: linear-gradient(to right, #ff0000, #ff8c00);
  background-clip: text;
  color: transparent;
}

.navbar a {
  font-size: 1.4rem;
  color: white;
  margin-left: 2rem;
  font-weight: 700;
  transition: all 0.3s ease;
  border-bottom: 4px solid transparent;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 4px solid var(--main-color);
}
.navbar a.activeLine {
  color: var(--main-color);
  border-bottom: 4px solid var(--main-color);
  }

.gradient-btn{
  font-size: 1.8rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 3rem;
  background: linear-gradient(to right, #ff0000, #ff8c00);
  color: white;
  border: none;
  text-wrap: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gradient-btn a{
  color: white;
}

.gradient-btn:hover{
  transform: scale(1.1);
  box-shadow: 0 0 4px var(--main-color), 0 0 8px var(--main-color), 0 0 30px var(--main-color);
  color: brown;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    transition: all 0.5s ease-in-out;

}

::-webkit-scrollbar-thumb:hover {
    background: orange;
}

::-webkit-scrollbar-track {
    background: var(--second-bg-color);
}

main {
  text-align: center;
  margin-top: 8rem;
}

.intro {
  padding: 2rem 3rem 8rem;
  text-align: center;
  place-items: center;
  justify-content: center;
  scroll-margin-top: 150px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 10rem;
  margin: 2rem 0;
  border: solid 5px var(--main-color);
  border-radius: 20px;
  box-shadow: 0 0 4px var(--main-color), 0 0 8px var(--main-color);
  transition: all 0.3s ease;
  background: linear-gradient(to top, #6f1d1d, #8e4e01, #5e6000);
  animation: bouncing 1.3s ease-in-out infinite alternate;
}

.intro-info h1 {
  font-weight: 700;
  font-size: 2rem;
}

.intro-info p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
}

.profiles {
  background-color: var(--second-bg-color);
  padding: 10rem 0 0;
  scroll-margin-top: -190px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.profiles-container {
  display: grid;
  min-height: 90vh;
  width: 100%;
  padding: 5rem 5rem;
  place-items: center;
  gap: 3rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.profile {
  text-align: center;
  padding: 2rem 1.5rem;
  border-radius: 20px;
  box-shadow: 0 0 4px var(--main-color), 0 0 8px var(--main-color);
  border: solid 5px var(--main-color);
  transition: all 0.3s ease;
  background-color: rgb(44, 0, 0);
}

section img {
  width: 22vw;
  height: 26vw;
  border-radius: 20px;
  object-fit: cover;
}

.profiles-container:hover .profile:not(:hover) {
  transform: scale(0.9);
  filter: brightness(0.5) saturate(0.8) contrast(1.2) blur(4px);
}
.profile:hover {
  transform: scale(1.15) translateZ(0);
  background-size: 300px;
}


#profile1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px red, 0 0 10px red, 0 0 20px red;
  border: solid 5px red;  
  cursor: pointer;     
}

#profile2:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px orange, 0 0 10px orange, 0 0 20px orange;
  border: solid 5px orange;
  cursor: pointer;
}

#profile2 a, #profile3 a, #profile1 a {
  text-decoration: none;
  color: white;
}

#profile3:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px yellow, 0 0 10px yellow, 0 0 20px yellow;
  border: solid 5px yellow;
  cursor: pointer;
}

.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover{
  background: var(--main-color);
  color: var(--bg-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 4px var(--main-color), 0 0 8px var(--main-color), 0 0 30px var(--main-color);
}

.contact {
  padding: 5rem 0;
  scroll-margin-top: -20px;
}

.contact h1 {
  margin-top: 3rem;
  font-size: 3rem;
}

.heading {
  font-weight: 700;
  font-size: 3rem;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}

.contact form .input-box input, .contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1rem 0;
  resize: none;
  box-shadow: 0 0 4px var(--main-color), 0 0 8px var(--main-color);
  transition: all 0.3s ease;
}

.btn{
  font-size: 1.8rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 3rem;
  background: linear-gradient(to right, #ff0000, #ff8c00);
  color: white;
  border: none;
  text-wrap: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover{
  transform: scale(1.1);
  box-shadow: 0 0 4px var(--main-color), 0 0 8px var(--main-color), 0 0 30px var(--main-color);
}


.contact form .input-box input:hover, .contact form textarea:hover {
  border: 2px solid var(--main-color);
  box-shadow: 0 0 4px var(--main-color), 0 0 8px var(--main-color), 0 0 30px var(--main-color);
}

.contact form .input-box input::placeholder, .contact form textarea::placeholder {
  color: white;
}

.messages {
  padding: 4rem 2rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.message-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.message-card {
  background: #222;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
  overflow: auto;
}

.message-card h3 {
  color: #ff4b2b;
  margin-bottom: 0.5rem;
}

.message-card p {
  margin: 0.3rem 0;
}


.footer {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
  background-color: var(--second-bg-color);
  color: gray;
}

.footer ul li {
  display: inline-flex;
  margin: 0 1rem;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.footer ul li a:hover {
  color: var(--main-color);
  transform: scale(1.1);
  border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
  margin-top: 1rem;
  color: gray;
}

.autoShow{
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@media (max-width: 1285px){
  #menu-icon {
    display: block;
  }

  .blob{
    width: 300px;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: black;
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar a {
    display: block;
    margin: 1.5rem 0;
    font-size: 3rem 0;
    color: white;
  }
  .navbar.active {
    display: block;
  }
  .navbar a.activeLine {
  color: var(--main-color);
  border-bottom: 4px solid var(--main-color);
  }
  #menu-icon{
    font-size: 3rem;
  }
  .gradient-btn{
    display: none;
  }

  .intro{
    padding: 1rem 4rem 8rem;
  }
  .intro-info{
    gap: 1rem;
    padding: 2rem;
  }
  .intro-info p{
    font-size: 1rem;
  }
  .profiles-container{
    min-height: 70vh;
  }
  .profiles {
    padding: 5rem 0;
    scroll-margin-top: -210px;
  }
  .contact{
    padding: 2rem 5rem 6rem;
  }
  .contact{
    scroll-margin-top: 40px;
  }
  .profiles h1{
    padding: 2rem 0;
  }
  .blob::after{
    width: 160px;
  }
} 
@media (max-width: 830px) {
  .intro {
    padding: 0 2rem 6rem;
  }

  .heading{
    font-size: 2.5rem;
  }

  .intro-info {
    gap: 1rem;
    padding: 1.5rem;
    transform: scale(0.9); 
  }

  .intro-info h1 {
    font-size: 1.2rem; 
  }

  .intro-info p {
    font-size: .9rem; 
  }

  .profiles {
    padding: 5rem 0;
    scroll-margin-top: 10px;
  }

  
  .profiles-container {
    min-height: 70vh;
    padding: 1.5rem;
  }

  .contact {
    padding: 2rem 2rem 6rem;
    scroll-margin-top: 30px;
  }

  .contact form {
    flex-direction: column;
    gap: .6rem;
    margin: 0 2rem;
  }

  .contact form .input-box input,
  .contact form textarea {
    padding: .8rem 4rem;
    font-size: .8rem;
    margin: 0.3rem 0;
  }

  .input-group-2 .btn{
    font-size: .8rem;
  }

  .social-icons a{
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem .3rem;
  }
  .footer ul li {
    margin: 0 0.3rem;
  }

  .autoShow {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 20%;
  }
}

@keyframes bouncing {
  0%, 100% {
    transform: translateY(0);
    box-shadow: 0 0 4px var(--main-color), 0 0 8px var(--main-color);
  }
  50% {
    transform: translateY(-15px);
    box-shadow: 0 0 8px var(--main-color), 0 0 16px var(--main-color), 0 0 40px var(--main-color);
  }
}

.blob:nth-child(1) {
  --angle-delay: 0s;
  --moving-delay: 0s;
  --color: rgb(255, 0, 43);
}
.blob:nth-child(2) {
  --angle-delay: 3s;
  --moving-delay: 2s;
  --color: rgb(255, 140, 0);
}
.blob:nth-child(3) {
  --angle-delay: 6s;
  --moving-delay: 4s;
  --color: rgb(255, 255, 0);
}
.blob:nth-child(4) {
  --angle-delay: 9s;
  --moving-delay: 6s;
  --color: rgb(0, 255, 0);
}
.blob:nth-child(5) {
  --angle-delay: 12s;
  --moving-delay: 8s;
  --color: rgb(0, 0, 255);
}

.blob{
  position: fixed;
  animation: angle 15s var(--angle-delay) infinite linear;
  bottom: 50%;
  z-index: -1;
}
.blob::after{
  content: "";
  position: fixed;
  width: 240px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color);
  filter: blur(70px);
  animation: moving 10s var(--moving-delay) infinite ease-in-out alternate;
}

@keyframes angle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moving {
  from {
    transform: translate(-50%, -150%);
  }
  to {
    transform: translate(-50%, 50%);
  }
}



@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(300px);
    filter: blur(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.frontground {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
  overflow: hidden;
  animation: remove 1s ease-in-out forwards;
  animation-delay: 1s; /* how long before it hides */
}

#bar1{
  --i: 6;
}
#bar2{
  --i: 5;
}
#bar3{
  --i: 4;
}
#bar4{
  --i: 3;
}
#bar5{
  --i: 2;
}
#bar6{
  --i: 1;
}
.frontground .bar {
  width: 100%;
  border: 2px solid black;
  background: linear-gradient(to right, #ff0000, #ff8c00);
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes fade-in {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@keyframes remove {
  to {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
